#popUp h2, .card > h2 {
  font-size: 1.5rem;
  margin: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  --section-x-padding: 1.5rem;
  --navbar-margin: 5rem;
  --green: #28845d;
  --btn-green: #28845e;
  --btn-green-hover: #2a664dad;
  --btn-green-active: #186c4c;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

body {
  box-sizing: border-box;
  padding-top: var(--navbar-margin);
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
body section {
  padding: 0 var(--section-x-padding);
  padding-top: 4rem;
}
body section:nth-of-type(1) {
  padding-top: 0;
}

li {
  list-style-type: none;
}

h1 {
  margin: 0;
  text-align: center;
}

ul {
  padding: 0 !important;
}

div > p {
  font-size: 1.2rem;
  padding: 0.6rem 0;
}

.show {
  display: flex !important;
}

.slide-left {
  margin-left: 0;
}

.body-blur {
  filter: blur(4px);
}

section h1 {
  margin: 0;
  font-size: 2.5rem;
}

header {
  z-index: 2;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  font-size: 0.8rem;
}
header nav > ul {
  transition: margin-left 1s;
  margin-left: 110vw;
  margin-top: 0;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: left;
  z-index: 100;
  padding-top: 5rem;
  padding-left: 1rem;
}
header nav > ul li {
  margin: 1.6rem 1.8rem;
  font-weight: 600;
  color: #344563;
}

.svgClose {
  /* fill: blue; */
  position: static;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  color: #67798e;
  cursor: pointer;
}
.svgClose:hover {
  background-color: #e5e2e2c2;
  border-radius: 4px;
}
.svgClose:active {
  background-color: #c3c0c0c7 !important;
  border-radius: 4px;
}

section div img {
  width: 100%;
  border-radius: 8px;
}

#burger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;
  padding: 0.5rem;
}
#burger-container:hover {
  background-color: #e5e2e2c2;
  border-radius: 4px;
}
#burger-container:hover:active {
  background-color: #c3c0c0c7;
  border-radius: 4px;
}

#landing {
  min-height: calc(100vh - var(--navbar-margin));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

#landing-p {
  margin: 0;
}

section li img {
  width: 2rem;
  margin: 0 1rem;
}

#landing > h1,
#landing-p {
  animation: im-developer 2s ease-out;
  z-index: 1;
}

@keyframes im-developer {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
h1 span {
  font-size: 2.5rem;
  text-align: center;
  display: block;
  font-weight: 700;
}

h1 span:last-child {
  color: var(--green);
}

#contact-box {
  display: flex;
  justify-content: center;
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1.5rem;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0.2rem 1.2rem 0.2rem;
}

.tech-tag {
  background-color: #ebf0ee;
  color: #3a4a42;
  padding: 8px 12px;
  margin: 0.3rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.8rem;
}

.about-me-card {
  background-color: #ebf0ee !important;
}
.about-me-card svg {
  height: 10rem;
  width: 100%;
}
.about-me-card h2 {
  margin-top: 0;
}

.card .about-me-tag {
  background-color: white;
  color: var(--green);
  padding: 8px 12px;
  margin: 0.3rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.8rem;
}

.button-container {
  margin: 2rem 0;
}

.btn-green {
  text-decoration: none;
  font-size: 1.1rem !important;
  background-color: var(--btn-green);
  color: white !important;
  border: 0 !important;
  padding: 0.8rem 1rem !important;
  border-radius: 4px !important;
  align-self: center;
  cursor: pointer;
}

.btn-green:hover {
  box-shadow: 0 8px 12px var(--btn-green-hover);
}

.btn-green:focus-visible {
  outline-color: #f00;
  outline-style: double;
  outline-width: thick;
}

.btn-green:active {
  background-color: var(--btn-green-active);
  box-shadow: none;
}

#about-me {
  text-align: center;
  position: relative;
  z-index: -1;
}
#about-me .about-me-svg {
  position: absolute;
  transition: height 1.5s linear 0.5s, transform 0.4s linear;
}
#about-me .about-me-svg:nth-child(4) {
  top: -4rem;
  right: calc(-1 * var(--section-x-padding));
}
#about-me .about-me-svg:nth-child(5) {
  bottom: -0.8rem;
  left: calc(-1 * var(--section-x-padding));
}

#popUp {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #c1c7d0de;
  text-align: center;
  justify-content: center;
}
#popUp #content {
  position: relative;
  text-align: left;
  width: 100%;
  height: max-content;
  max-height: 80vh;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-bottom: 0;
}
#popUp .svgClose {
  position: absolute;
  right: 2rem;
  top: 2rem;
  align-self: end;
  width: 24px;
  color: white;
  background-color: #e5e2e2c2;
  border-radius: 4px;
}
#popUp .svgClose:hover {
  background-color: #c3c0c0c7 !important;
}
#popUp .svgClose:hover:active {
  background-color: rgba(32, 31, 31, 0.75) !important;
  color: white;
}
#popUp #popUpTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popUp #popUpTitle span {
  display: none;
}
#popUp ul {
  justify-content: start;
  margin-left: -0.3rem;
}
#popUp .btn-green {
  font-size: 0.9rem !important;
  padding: 0.5rem 0.7rem !important;
  display: inline-flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}
#popUp p {
  color: #344563;
  font-size: 1rem;
}
#popUp a img {
  height: 18px;
  width: 18px;
  margin-left: 0.5rem;
}
#popUp .btn-group {
  display: flex;
}

#contact-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

#contact-me form {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#contact-me form * {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  border: 1px solid #d0d9d4;
  color: #6b778c;
  font-size: 0.94rem;
  font-family: "Inter", sans-serif;
}
#contact-me form *:focus-visible {
  outline-color: #60c095;
  color: black;
}
#contact-me form .alert * {
  padding: 0;
  margin: 0;
  border: 0;
}
#contact-me form .alert img {
  width: 24px;
}

#background-icons {
  position: relative;
  overflow-x: clip;
}
#background-icons .background-images {
  position: absolute;
  transition: height 1.5s linear 0.5s, transform 0.4s linear;
}
#background-icons .background-images:nth-child(2n):hover {
  cursor: pointer;
  transform: rotate(360deg) scale(0.1);
}
#background-icons .background-images:nth-child(2n+1):hover {
  cursor: pointer;
  height: 300vh;
  /* margin-top: 100vh; */
  transform: rotate(180deg) scale(1.5);
}
#background-icons .background-images:nth-child(1) {
  right: 0;
  top: calc(3.5rem - var(--navbar-margin));
}
#background-icons .background-images:nth-child(3) {
  left: 0;
  top: calc(32rem - var(--navbar-margin));
}
#background-icons .background-images:nth-child(2) {
  right: -75px;
  top: calc(15rem - var(--navbar-margin));
  width: 100px;
}
#background-icons .background-images:nth-child(4) {
  left: 1rem;
  top: calc(20rem - var(--navbar-margin));
}
#background-icons .background-images:nth-child(5) {
  left: 12rem;
  top: calc(31.2rem - var(--navbar-margin));
}
#background-icons .background-images:nth-child(6) {
  right: 0;
  top: calc(37rem - var(--navbar-margin));
}
#background-icons .background-images:nth-child(7) {
  width: 15rem;
  left: 0;
  top: calc(7rem - var(--navbar-margin));
  display: none;
}
#background-icons .background-images:nth-child(8) {
  left: -20%;
  top: calc(-1 * var(--navbar-margin));
  bottom: 0;
  width: 140%;
  height: 100vh;
  z-index: -1;
  animation: lines 4s ease-in-out 1;
}

@keyframes lines {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    /* display: block; */
    transform: scale(1.5);
  }
  75% {
    /* display: block; */
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
#footer-icons {
  position: relative;
  display: none;
}
#footer-icons svg:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: -12rem;
}
#footer-icons svg:nth-child(2) {
  position: absolute;
  bottom: -5rem;
  left: 15rem;
}
#footer-icons svg:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: -10rem;
}

@media screen and (min-width: 890px) {
  :root {
    --section-x-padding: 5rem;
    --navbar-margin: 0.1px;
  }

  header {
    position: static;
    justify-content: center;
  }

  nav > ul {
    transition: all 0s !important;
    display: flex;
    margin-left: 0 !important;
    position: static !important;
    height: min-content !important;
    font-size: inherit !important;
    padding-top: 0 !important;
  }
  nav > ul li {
    margin-top: 0;
    margin-bottom: 0;
  }

  header > h1,
#burger-container,
#content > .btn-group,
nav li:nth-child(1) {
    display: none !important;
  }

  #landing {
    padding: 0 8rem;
  }

  #background-icons .background-images:nth-child(1) {
    right: 5rem;
    top: -3rem;
  }
  #background-icons .background-images:nth-child(2) {
    right: 0;
    top: 10rem;
    width: 9rem;
  }
  #background-icons .background-images:nth-child(4) {
    left: 16rem;
    top: 4rem;
    opacity: 60%;
  }
  #background-icons .background-images:nth-child(6) {
    right: 11rem;
    top: 30rem;
    width: 8rem;
    height: auto;
  }

  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.6rem;
  }

  #contact-me {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 1.5rem;
  }

  #footer-icons,
#background-icons > .background-images:nth-child(7) {
    display: block;
  }

  #popUp .svgClose {
    flex: none;
    display: block;
    position: static;
    width: 24px !important;
    color: #67798e;
    background-color: #e5e2e2c2;
    border-radius: 4px;
    margin: 0;
  }
  #popUp .svgClose:hover {
    background-color: #c3c0c0c7 !important;
  }
  #popUp .svgClose:hover:active {
    background-color: rgba(32, 31, 31, 0.75) !important;
    color: white;
  }
  #popUp #content {
    width: 80%;
  }
  #popUp #popUpTitle span {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
