* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    padding-top: 2rem;
    display: none;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-image: url("back-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100vw;
    font-size: 0.8rem;
}

h1 {
    margin: 0;
}

#burger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#burger-container .burger-line {
    border-bottom: 3px solid black;
    width: 20px;
}

section {
    min-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1.5rem;
    font-size: 1.3rem;
}

ul {
    padding: 0;
}

section li {
    list-style-type: none;
}

section li img {
    width: 2rem;
    margin: 1rem;
}

h1 span {
    font-size: 2.5rem;
    text-align: center;
    display: block;
    font-weight: 700;
}

h1 span:last-child {
    color: #36b37e;
}

#contact-box {
    display: flex;
    justify-content: center;
}

@media (max-width:550px) {
    body {
        display: block;
    }
}