/* Error: The target selector was not found.
 * Use "@extend %portfolio-h2 !optional" to avoid this error.
 *    ,
 * 90 |   @extend %portfolio-h2;
 *    |   ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   style.scss 90:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %portfolio-h2 !optional" to avoid this error.\a    \2577 \a 90 \2502    @extend %portfolio-h2;\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   style.scss 90:3  root stylesheet';
}
